.fedi{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.moez{
  text-decoration: line-through;
}
.samir{
  border-style: dotted;
  margin-left: 39%;
  width: 326px;
  text-align: center
}